tei_zine_minimal.odd

<?xml version="1.0" encoding="UTF-8"?>

<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI_zine</title>
        <author>Jules Musquin</author>
      </titleStmt>
      <publicationStmt>
        <p>Encoding rules for zines support in TEI</p>
      </publicationStmt>
      <sourceDesc>
        <p>Odd generated by using both oddbyexample generation method, tei roma and hand editing</p>
        <p>This time I used some generative IA to debug a problem with schematron</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <front>
      <div>
        <head>Previous iterations</head>
        <p> The second iteration of my work with fanzine resulted in using a workaround to overcome
          some limitations of the TEI standard. I was looking for a way to encode the materiality of
          my documents. Some were handwritten, others printed, and all used complex know-how between
          text and materiality to create meaning (images, colors, printing techniques).</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <div1 n="5" rendition="#manuscript" rend="black_ink white_background">
            <p>Spread equality !</p>
            <div2>
              <figure>
                <figDesc>An A for anarchist, written in Gothic script, surrounded by a
                  heart</figDesc>
              </figure>
            </div2>
          </div1>
        </egXML>
        <p> I created an external list containing two entities, `printed` and `handwritten` to
          identify whether a text was printed or handwritten. As you can see, the `@rendition`
          attribute calls the `#manuscript` value of an external file, which is not optimal.</p>
        <p>Another problem concerned encoding the "rest" of the materiality of my documents. Some
          used text written on a surgical mask, others on colored paper. In my previous version, I
          simply used the `@rend` attribute and added a description, but I haven't found a better
          solution.</p>
      </div>
      <div>
        <head>Current iteration and ODD customisation</head>
        <p> Here is the new code for the same exemple : </p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <div1 n="5" rendition="manuscript" letter_color="black" material="paper"
            material_color="white">
            <p>Spread equality !</p>
            <div2>
              <figure>
                <figDesc>An A for anarchist, written in Gothic script, surrounded by a
                  heart</figDesc>
              </figure>
            </div2>
          </div1>
        </egXML>
        <p> The `@rendition` attribute is still used, but the values ​​`manuscript` and `printed`
          are now rules coded in ODD. Since these are rules, no external authority file is required,
          and the values ​​defined for `@rendition` are now limited to these two values. the `@rend`
          attribute now free for another use.</p>
        <p> These rules for `div1` are optional, as it is sometimes necessary to have a more precise
          description of the physical appearance than of the page itself. These rules have been
          duplicated for the `div2`, `p`, `titlePage`, `titlePart`, `docAuthor`, and `docDate`
          elements.</p>
        <p> Other rules were written or modified : <list>
            <item>- The fanzine encoding project has decided to exclude the value 0 for the `@n`
              attribute.</item>
            <item>- Since all the fanzines encoded for this project are available online,
              `msIdentifier` must include a `repository` element and an `idno` element to identify
              the repository. The use of the `@source` attribute is also mandatory in the
              `msIdentifier` element. If no source is found, the value `no_repository` is
              used.</item>
            <item> - It was decided that the homepage would use the `titlePage` element with
              `docTitle` and `titlePart` as descendants. The first `titlePart` element must always
              correspond to the main part of the title; this Schematron rule therefore checks that
              `@type` of `titlepart` is equal to `main`.</item>
          </list>
        </p>
      </div>
    </front>
    <body>
      <head>TEI ODD stylesheet for anglo-saxon fanzine encoding.</head>

      <schemaSpec ident="tei_zine_minimal" start="TEI" prefix="tei_zine" targetLang="en"
        docLang="en" xmlns:s="http://purl.oclc.org/dsdl/schematron">

        <!-- START OF MODULE CUSTOMISATION -->
        <!-- required minimal header elements -->
        <moduleRef key="header"
          include="teiHeader fileDesc titleStmt publicationStmt sourceDesc availability encodingDesc editionStmt edition distributor licence idno tagsDecl rendition"/>


        <!-- required core elements -->
        <moduleRef key="core"
          include="p title respStmt resp choice orig reg ref date lb emph quote head list item corr ptr author address"/>

        <!-- required textstructure elements -->
        <moduleRef key="textstructure"
          include="TEI text body docTitle titlePage titlePart docAuthor docDate docEdition back imprimatur div div1 div2 div3 trailer front"/>

        <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei"/>


        <moduleRef key="namesdates"
          include="persName surname forename listPerson person birth death objectName addName orgName"/>
        <moduleRef key="msdescription" include="msDesc msIdentifier repository"/>
        <moduleRef key="figures" include="figure figDesc"/>
        <moduleRef key="verse" include="caesura"/>
        <moduleRef key="linking" include="anchor"/>

        <!-- START OF ELEMENT CUSTOMISATION -->
        <!-- div1 -->
        <elementSpec ident="div1" mode="change">
          <desc>In the Zine encoding project, the div1 element is used to encode each new pages.
            Div1 can have a @rendition that will encode if the page is printed or manuscript. The
            @rendition is optionnal because a page can be produced using both technics. In this
            case, you should add a level of description with the element div2 and @rendition. This
            rule creat the choice between rendition and manuscript in div1 element. We also added
            attribute to describe the ink color, the material of the page and the color of the
            page.</desc>
          <attList>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="letter_color" usage="opt" mode="add">
              <desc>Specifies the color of an element.</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material_color" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <div1 n="2" rendition="manuscript" letter_color="purple" material="paper"
                material_color="white">
                <p>The president<lb/>is gone.</p>
                <p>And the vice<lb/>president is gone<lb/> too.</p>
                <p>We created a <lb/>world where</p>
                <p> we didn't need <lb/>these false idols.</p>
              </div1>
            </egXML>
          </exemplum>
        </elementSpec>

        <!-- schematron customisation for the @n attribute -->
        <constraintSpec ident="n_range" scheme="schematron">
          <desc>The zine encoding project choosed that 0 should be excluded from the value of
            @n</desc>
          <constraint>
            <s:pattern xmlns:s="http://purl.oclc.org/dsdl/schematron">
              <s:rule context="@n">
                <s:assert test=". >= 1">The value of @n must be an integer greater than or equal to
                  1.</s:assert>
              </s:rule>
            </s:pattern>
          </constraint>
        </constraintSpec>

        <!-- rule constraining required elements in msIdentifier and the use of the @source attribute-->
        <elementSpec ident="msIdentifier" mode="change">
          <desc>As all zine encoded for this project are found online, we force the use of the
            @source attribute inside the msIdentifier element. In the case that a source cannot be
            found, then the value no_repository should be used.</desc>
          <attList>
            <attDef ident="source" usage="req" mode="change">
              <valList type="semi">
                <valItem ident="no_repository"/>
              </valList>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msIdentifier
                source="https://archive.org/details/presgone-zine-online/page/n1/mode/2up"> ...
              </msIdentifier>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msIdentifier source="no_repository"> ... </msIdentifier>
            </egXML>
          </exemplum>
        </elementSpec>

        <elementSpec ident="msIdentifier" mode="change">
          <desc>msIdentifier must have a repository element and a idno element to identified the
            repository</desc>
          <content>
            <sequence preserveOrder="true">
              <elementRef key="repository"/>
              <elementRef key="idno"/>
            </sequence>
          </content>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msIdentifier
                source="https://archive.org/details/presgone-zine-online/page/n1/mode/2up">
                <repository>Internet Archive</repository>
                <idno>ark:/13960/s2xnb4wz60r</idno>
              </msIdentifier>
            </egXML>
          </exemplum>
        </elementSpec>

        <!--schematron rule for the titlepart[@type] attribute -->
        <constraintSpec ident="titlePart" scheme="schematron"
          xmlns:sch="http://purl.oclc.org/dsdl/schematron">
          <desc> To encode zine, we decided that the front page should use the titlePage element
            with docTitle and titlePart as descendant. The 1st titlePart element should always be
            the main part of the title, so this rule verify that the @type of titlepart is equal to
            main.</desc>
          <constraint>
            <sch:pattern>
              <sch:rule context="tei:docTitle">
                <sch:assert test="tei:titlePart[1][@type='main']"> The attribut of the first title
                  must be "main" </sch:assert>
              </sch:rule>
            </sch:pattern>
          </constraint>
        </constraintSpec>

        <!-- ALIGNEMENT SECTION BETWEEN ELEMENT WITH THE SAME RULES -->
        <!-- this section is a repetitive section so that div2, p, titlePage, titlePart, docAuthor and docDate use the same rules as div1 -->

        <!-- div2 alignement on div1 -->
        <elementSpec ident="div2" mode="change">
          <desc>This rule align the div2 element with the rules for div1 element</desc>
          <attList>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="letter_color" usage="opt" mode="add">
              <desc>Specifies the color of an element.</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material_color" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <div2 n="8" rendition="printed" letter_color="black" material="paper"
                material_color="white">
                <p>morganstern.33 on <orgName>Signal</orgName></p>
                <p source="ladyfingerpress.tumbler.com">ladyfingerpress.tumbler.com</p>
              </div2>
            </egXML>
          </exemplum>
        </elementSpec>

        <!-- titlePart alignement on div1 and schematron rule for the @type attribute -->
        <elementSpec ident="titlePart" mode="change"
          xmlns:sch="http://purl.oclc.org/dsdl/schematron">
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <valList type="closed" mode="change">
                <valItem mode="delete" ident="alt"/>
                <valItem mode="delete" ident="short"/>
                <valItem mode="delete" ident="desc"/>
              </valList>
            </attDef>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="letter_color" usage="opt" mode="add">
              <desc>Specifies the color of an element.</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material_color" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <docTitle>
                <titlePart type="main" rend="purple_ink white_paper" rendition="manuscript">The
                  president is Gone</titlePart>
                <titlePart type="sub" rend="black ink white_paper" rendition="manuscript">And other
                  notes<lb/>from the future</titlePart>
              </docTitle>
            </egXML>
          </exemplum>
        </elementSpec>

        <!-- titlePage alignement on div1 -->
        <elementSpec ident="titlePage" mode="change">
          <desc>In the case of the front page, the div1 element is not required because of the
            existence of the titlePage element. This rule align the titlePage element with the rule
            for the div1 element</desc>
          <attList>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="letter_color" usage="opt" mode="add">
              <desc>Specifies the color of an element.</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material_color" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <titlePage type="titlepage" n="1" rendition="manuscript"> ... </titlePage>
            </egXML>
          </exemplum>
        </elementSpec>

        <!-- p alignement on div1 -->
        <elementSpec ident="p" mode="change">
          <desc>This rule align the p element with the div1 element</desc>
          <attList>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="letter_color" usage="opt" mode="add">
              <desc>Specifies the color of an element.</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material_color" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <div1 n="5" rendition="manuscript">
                <!-- Here the color change on the same page, so I used my rend attribute on every paragraphe-->
                <p letter_color="purple" material="paper" material_color="pink"><lb/>So we got rid
                  of <lb/>the corporations. <lb/>That's right.</p>
              </div1>
            </egXML>
          </exemplum>
        </elementSpec>

        <!-- docAuthor alignement on div1 -->
        <elementSpec ident="docAuthor" mode="change">
          <desc>This rule align the docAuthor element with the div1 element</desc>
          <attList>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="letter_color" usage="opt" mode="add">
              <desc>Specifies the color of an element.</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material_color" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <docAuthor letter_color="black" material="paper" material_color="white"
                rend="black ink white_paper">
                <persName>Angélica</persName>
              </docAuthor>
            </egXML>
          </exemplum>
        </elementSpec>

        <!-- docDate alignement on div1 -->
        <elementSpec ident="docDate" mode="change">
          <desc>This rule align the docDate element with the div1 element</desc>
          <attList>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="letter_color" usage="opt" mode="add">
              <desc>Specifies the color of an element.</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
            <attDef ident="material_color" usage="opt" mode="add">
              <desc>Specifies the material of an element</desc>
              <datatype>
                <dataRef key="teidata.text"/>
              </datatype>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <docDate letter_color="black" material="paper" material_color="white"
                rend="black ink white_paper">2023</docDate>
            </egXML>
          </exemplum>
        </elementSpec>

      </schemaSpec>
    </body>
  </text>
</TEI>
