tei_zine_minimal.odd

<?xml version="1.0" encoding="UTF-8"?>

<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI_zine</title>
        <author>Jules Musquin</author>
      </titleStmt>
      <publicationStmt>
        <p>Encoding rules for zines support in TEI</p>
      </publicationStmt>
      <sourceDesc>
        <p>Odd generated by using both oddbyexample generation method, tei roma and hand editing</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>A Minimal TEI Customization for anglo-saxon Zine encoding</head>

      <p>This TEI ODD defines a TEI customization that is as minimal as possible and the schema
        generated from it will validate a document that is minimally valid against the TEI scheme.
        It includes only the ten required elements: <list rend="numbered">
          <item><gi>teiHeader</gi> from the header module to store required metadata</item>
          <item><gi>fileDesc</gi> from the header module to record information about this
            file</item>
          <item><gi>titleStmt</gi> from the header module to record information about the
            title</item>
          <item><gi>publicationStmt</gi> from the header module to detail how it is published</item>
          <item><gi>sourceDesc</gi> from the header module to record where it is from</item>
          <item><gi>p</gi> from the core module for use in the header and the body</item>
          <item><gi>title</gi> from the core module for use in the titleStmt</item>
          <item><gi>TEI</gi> from the textstructure module because what is a TEI file without
            that?</item>
          <item><gi>text</gi> from the textstructure module to hold some text</item>
          <item><gi>body</gi> from the textstructure module as a place to put that text</item>
        </list>
      </p>
      <schemaSpec ident="tei_zine_minimal" start="TEI" prefix="tei_zine" targetLang="en"
        docLang="en"
        xmlns:s="http://purl.oclc.org/dsdl/schematron">

        <!-- required minimal header elements -->
        <moduleRef key="header"
          include="teiHeader fileDesc titleStmt publicationStmt sourceDesc availability encodingDesc editionStmt edition distributor licence idno tagsDecl rendition"/>


        <!-- required core elements (p and title for use in titleStmt) -->
        <moduleRef key="core"
          include="p title respStmt resp choice orig reg ref date lb emph quote head list item corr ptr author address"/>

        <!-- required textstructure elements (TEI, text, and body) -->
        <moduleRef key="textstructure"
          include="TEI text body docTitle titlePage titlePart docAuthor docDate docEdition back imprimatur div div1 div2 div3 trailer front"/>

        <!-- required module tei instantiates lots of classes used for further expansion of this odd -->
        <moduleRef key="tei"/>


        <moduleRef key="namesdates"
          include="persName surname forename listPerson person birth death objectName addName orgName"/>
        <moduleRef key="msdescription" include="msDesc msIdentifier repository"/>
        <moduleRef key="figures" include="figure figDesc"/>
        <moduleRef key="verse" include="caesura"/>
        <moduleRef key="linking" include="anchor"/>

        <!-- customized elements -->

        <!-- front/back/page n and rendition customisation -->
        <elementSpec ident="div1" mode="change">
          <gloss>Force the n attribute to be an int and define the use of rendition</gloss>
          <attList>
            <attDef ident="n" usage="req" mode="change">
              <desc>Force n to be an int, required at every occurence</desc>
              <datatype minOccurs="1" maxOccurs="unbounded">
                <dataRef key="teidata.count"/>
              </datatype>
            </attDef>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <elementSpec ident="titlePage" mode="change">
          <gloss>align titlePage element on div1 element</gloss>
          <attList>
            <attDef ident="n" usage="req" mode="change">
              <desc>Force n to be an int, required at every occurence</desc>
              <datatype minOccurs="1" maxOccurs="unbounded">
                <dataRef key="teidata.count"/>
              </datatype>
            </attDef>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <elementSpec ident="back" mode="change">
          <gloss>align back element on div1 element</gloss>
          <attList>
            <attDef ident="n" usage="opt" mode="change">
              <desc>Force n to be an int, required at every occurence</desc>
              <datatype minOccurs="1" maxOccurs="unbounded">
                <dataRef key="teidata.count"/>
              </datatype>
            </attDef>
            <attDef ident="rendition" usage="opt" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="manuscript">
                  <desc>A document written by hand or typewritten. Optional if needed to be on a
                    lower level</desc>
                </valItem>
                <valItem ident="printed">
                  <desc>A document mechanically printed or reproduced in some indirect or automated
                    way. Optional if needed to be on a lower level</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <!-- customizsation of msIdentifier element inside sourceDesc -->
        <elementSpec ident="msIdentifier" mode="change">
          <attList>
            <attDef ident="source" usage="req" mode="change">
              <desc>Force msIdentifier to put a source, if no sources is available the item
                no-repository can be declared</desc>
              <valList type="semi">
                <valItem ident="no_repository"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <!-- rule constraining elements in a sequence -->
        <elementSpec ident="msIdentifier" mode="change">
          <desc>msIdentifier must have a repository element and a idno element to identified the
            repository</desc>
          <content>
            <sequence preserveOrder="true">
              <elementRef key="repository"/>
              <elementRef key="idno"/>
            </sequence>
          </content>
        </elementSpec>

        <!-- rule for titlePart verification -->
        <elementSpec ident="titlePart" module="textstructure" mode="change" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0">
          <constraintSpec ident="titlePart" scheme="schematron">
            <constraint>
              <sch:pattern>
                <sch:rule context="tei:front//tei:titlePart">
                  <sch:assert test="@type[1]='main'">
                    titlePart must include a type attribute that is 'main'
                  </sch:assert>
                </sch:rule>
              </sch:pattern>
            </constraint>
          </constraintSpec>
        </elementSpec>

      </schemaSpec>
    </body>
  </text>
</TEI>
